* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #1f1f1f;
}

header {
  background: #151515;

  width: 90%;
  height: 42.6rem;
  max-width: 114.8rem;
  max-height: 42.6rem;
  margin: auto;
  color: #fff;
  border-radius: 12px;
  padding: 4.2rem;
  margin-top: 7.2rem;
}

header h2 {
  margin-bottom: 2.4rem;
  font-size: 3.6rem;
  font-weight: 900;
}

.div-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.div-form form input {
  height: 4.9rem;
  width: 100%;
  background: #1f1f1f;
  border: none;
  border-radius: 1.2rem;

  padding: 0 2.4rem;

  font-size: 2rem;
  font-weight: 600;

  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button {
  width: 31.2rem;
  height: 5.7rem;

  background: #6ce971;
  border-radius: 1.2rem;
  color: rgba(255, 255, 255);

  font-weight: 700;
  font-size: 2rem;

  border: none;

  align-self: flex-end;
}

/* html,
body {
  height: 100vh;
}

body {
  font-size: 1.6rem;
}



h1 {
  text-align: center;
  padding: 1rem 0;
  background-color: rgb(135, 43, 255);
  color: white;
  box-shadow: 5px 5px 5px lightgrey;
  margin-bottom: 1em;
}

.conteudo {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

ul {
  display: block;
  margin-left: 2em;
}

li {
  padding: .2em 0;
}




/* 
/*===== CARDS =======*

.cards {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #9b9797;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  border-radius: 10px;

}

.card:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  
  overflow: hidden;
  position: relative;  
  border-radius: 10px;
  background-color: #f0f0f0;

}

.image img {

  width: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(5px 15px 20px #222);

  border-radius: 50%;
 
}

.conteudo {
  margin: 2rem;
}

.conteudo h3{
  font-weight: 800;
  color: #f0f0f0;
}

.info{
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
*/
